.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 2;
    width: 100%;
    height: 12vh;
    position: fixed;
    z-index: 3;
    background-color: transparent;
}
.text{
    width:400px;
    padding: 0 2rem;
}